.booking-form {

    margin-top: 120px;
    margin-bottom: 60px;
    display: grid;
    gap: 50px;
    justify-content: center;
          
    .booking-form__input {
    display: grid;
    grid-template-areas:
    "name message"
    "phone message"
    "topic message";
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    justify-content: center;
        & input[id="name"] {
                grid-area: name;
            }
        
        & input[id="phone"] {
                grid-area: phone;
            }
        
        & input[id="topic"] {
                grid-area: topic;
            }
        
        & textarea[id="message"] {
                grid-area: message;
                padding-top: 8px;
                padding-left: 0px;
                
                
            }

    }

    h5 {
    grid-area: "h5";
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    }

    input[type="text"], select, option, textarea {
        width: 369px;
        min-height: 40px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid #000;
        color: #000;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding: 8px 8px 8px 20px;
        &::placeholder {
                color: #000;
                text-align: left;
                top: 8px;
                left: 20px;                   
            }
    }

    select {
        width: 399px;
        height: 56px;
        padding: 8px 8px 8px 15px;
    }
    
    


    .booking-form__policy {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        gap: 15px;
  
        span {
            color: #2D5E5E;
            font-family: Montserrat;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            
        }
        .booking-form__policy_checkbox {
            width: 15.046px;
            height: 15px;
            flex-shrink: 0;
            margin: 0px;
        }
            & input[type="checkbox"] {
            
            display: grid;
            place-content: center;
            -webkit-appearance: none;
            border: solid 1px #2D5E5E;
            appearance: none;
            }

            & input[type="checkbox"]::before {
                content: "";
                width: 0.65em;
                height: 0.65em;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em #2D5E5E;
              }
            
              & input[type="checkbox"]:checked::before {
                transform: scale(1);              
              }
    }

    button {
        width: 250px;
        height: 40px;
        border-radius: 10px;
        border: 0;
        background: #2D5E5E;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0 auto;
        
    }

    


}