header {
    display: flex;
    align-items: center;
    margin-top: 30px;

    ul {
        list-style: none;
        display: flex;
        gap: 15px;
        
    }

    a {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
        color: #85AAAB;
    }

    a:hover {
        color: #6DE1E3;
        border-bottom: 2px solid #6DE1E3;
    }
}
