.offer {
    height: 768px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: 63px;
    
    & img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;       
    }

    & h1 {
        max-width: 464px;
        font-size: 48px;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }

    & h2 {
        max-width: 300px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
    }

    & button {
        width: 250px;
        height: 40px;
        border-radius: 10px;
        background-color:#2D5E5E;
        color: white;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        border: none;
    
    &:hover {
        color: aqua;
    }
    }



}